
body,html {
    margin: 0;
    padding: 0;
    font-family: arial;
    background: purple;
    color: #020202;
  }


/* Scores */

#results{
    padding-top: 10px;
    margin: 10px;
    margin-bottom: 0;
    color: #e6e0cd;
}

h3{
    text-align: center;
}

#scores{
    text-align:center;
}

table{
    margin-left: auto;
    margin-right: auto;
}
td, th {
    text-align: center;
    padding: 6px;
    margin: 2px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #e6e0cd;
  }

#winner{
    color: #e6e0cd;
    text-align: center;
    margin: 10px;
}
/*  icons general*/
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.playersChoice{
    margin-left: 5%;
}

.computersChoice{
    margin-right: 5%;
}


/* player icons */

.container {
    height: auto;
}

.container button{
    background: transparent;
    border-radius: 50%;
    border: 1px solid transparent;
    margin: 10px
}

button:active{
    text-shadow: #020202;
    background: yellow;
}

.container img{
    max-width: 100%;
    height: auto
}

/* comp icons */
.compContainer{
    width: 100%;
    height: auto;

}


.btn{
    width: 112px;
    height: 105px;
    background-color: transparent;
    padding: 0px 1px 0px 1px;
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid transparent;

}

.compContainer img{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}